<mat-drawer-container class="example-container" autosize>
  <mat-drawer opened #drawer class="example-sidenav" [mode]="mode" style="max-width: 305px">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node matTreeNodePadding matTreeNodePaddingIndent="10" [routerLink]="['/docs-view',{outlets:{intro:''+node.href}}]" *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node matTreeNodePadding matTreeNodePaddingIndent="10" [routerLink]="['/docs-view',{outlets:{intro:''+node.href}}]" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-tree>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="expand(drawer)">
      <span class="material-icons">
        {{text}}
      </span>
    </button>
  </div>

  <div class="container">
    <router-outlet name="intro"></router-outlet>
  </div>

</mat-drawer-container>
