.example-container {
  width: 100%;
  height: 80vh;
}

.example-sidenav-content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: min-content;
  margin: 0 10px 10px 10px;
}

mat-tree-node {
  cursor: pointer;
  padding-right: 60px;
}

mat-tree-node:hover {
  background-color: lightgray;
  color: #1669bb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 3rem 2rem 4rem;
  max-width: 50em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: darkslateblue;
}
