<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked style="margin-top: 25px;"><label for="tab-1" class="tab">Login</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" style="visibility: hidden"><label style="visibility: hidden" for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Email*</label>
          <input id="user" [(ngModel)]="email" type="text" class="input" required>
        </div>
        <div class="group">
          <label for="pass" class="label">Password*</label>
          <input id="pass" type="password" [(ngModel)]="password" class="input" data-type="password" required>
        </div>
        <div class="group" style="margin-top: 50px;">
          <input (click)="login()" type="submit" class="button" value="Login">
        </div>
      </div>
    </div>
  </div>
</div>
