<h2 style="font-weight: bold; font-size: 38px">Introduction Section</h2>
<br>
<p>UstUml is a language created to facilitate the creation of diagrams with which you can both design the architecture of your projects from scratch, as well as import existing ones and see their complete composition, dependencies, etc.</p>
<br>
<p>It is a simple language based on yaml, which allows a perfect understanding in the construction of the command, thanks to its hierarchy and structuring.</p>
<br>
<div class="callout">
  <h3><strong>Looking to become a UstUml professional developer?!¿</strong></h3>
  <p>We have put together a docs that includes all the essential information you need.</p>
  <br>
  <a style="color: dodgerblue; cursor: pointer" (click)="navigate()">Get started with the language</a>
</div>
