.callout {
  background-color: #c2e8f9;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 24px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 24px;
}
