div {
  position: relative;
  width: 70%;
  min-width: 150px;
  overflow: auto;
}

div > svg {
  position: absolute;
  top: 8px;
  right: 8px;
}
svg {
  cursor: pointer;
}

.code {
  width: 100%;
  height: max-content;
  background-color: #312e2e;
  border-radius: 5px;
  margin-bottom: 20px;
}

pre {
  color: #b0c681;
  font-size: medium;
}

svg {
  fill: #8c937d !important;
  font-size: larger;
}

svg:hover {
  fill: #c1cea4 !important;
}
