.example-card:hover {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.63);
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.63);
}

p {
  padding: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 2em;
  grid-row-gap: 20px;
}

a:hover {
  cursor: pointer;
}

.alert.is-helpful {
  border-left: 8px solid #1976d2;
  background-color: rgba(25,118,210,.05);
}

.alert {
  padding: 16px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

ul {
  margin: 0;
}

@media (max-width: 991.98px) {
  .card-container {
    grid-template-columns: 2fr;
  }
}
