<h2 style="font-weight: bold; font-size: 38px">UstUML Language</h2>
<br>
<ul>
  <li>All commands developed are self-explanatory and structured</li>
  <li>They follow a systematic composition</li>
</ul>
<br>
<div class="card-container">
  <mat-card class="example-card"
            style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; padding: 0;">
    <mat-card-header style="margin: 20px 0 20px 0">
      <mat-card-title style="color: #1fa2ff"><a [routerLink]="['/docs-view',{outlets:{intro:+'language-grammar'}}]">Language Grammar</a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Get an overview of the language grammar.
      </p>
    </mat-card-content>
    <mat-card-footer style="margin: 0; border-top: .5px solid #dbdbdb; color: #1669bb;
      background-color: rgba(25,118,210,.1);display: flex;
    justify-content: right; align-items: center; width: 100%; padding: 10px">
      <p style="margin: 0">Grammar overview<p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="example-card"
            style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; padding: 0;">
    <mat-card-header style="margin: 20px 0 20px 0">
      <mat-card-title style="color: #1fa2ff">Command Semantic</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Learn the different commands of UstUML.
      </p>
    </mat-card-content>
    <mat-card-footer style="margin: 0; border-top: .5px solid #dbdbdb; color: #1669bb;
      background-color: rgba(25,118,210,.1);display: flex;
    justify-content: right; align-items: center; width: 100%; padding: 10px">
      <p style="margin: 0">Commands overview<p>
    </mat-card-footer>
  </mat-card>
</div>
