div {
  position: relative;
  width: 60%;
  min-width: 280px;
  overflow: auto;
}

div > svg {
  position: absolute;
  top: 8px;
  right: 8px;
}
svg {
  cursor: pointer;
}

.code {
  width: 100%;
  height: max-content;
  background-color: #312e2e;
  border-radius: 5px;
  margin-bottom: 20px;
}

pre {
  color: #b0c681;
  font-size: medium;
}

svg {
  fill: #8c937d !important;
  font-size: larger;
}

svg:hover {
  fill: #c1cea4 !important;
}

.alert.is-important {
  border-left: 8px solid #ff9800;
  background-color: rgba(255,152,0,.05);
}

.alert {
  color: #444;
}

.alert {
  padding: 16px;
  margin: 24px 0;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

#alert-code {
  background-color: lightgrey;
  color: #444;
  padding: 4px;
  border-radius: 5px;
}

p {
  margin: 0;
}

