#diagramView{
  max-height: 60vh;
}
@media (max-width: 991.98px) {
  #diagramView {
    position: absolute;
    margin-left: -50%;
    max-width: 650px;
  }
}
@media (max-width: 830px) {
  #diagramView {
    position: absolute;
    margin-left: -57%;
    max-width: 460px;
  }
}
@media (max-width: 800px) {
  #diagramView {
    position: absolute;
    margin-left: -62%;
    max-width: 460px;
  }
}
@media (max-width: 600px) {
  #diagramView {
    position: absolute;
    margin-left: -64%;
    max-width: 356px;
  }
}
@media (max-width: 500px) {
  #diagramView {
    position: absolute;
    margin-left: -95%;
    max-width: 365px;
  }
}

@media (max-width: 370px) {
  #diagramView {
    position: absolute;
    margin-left: -98%;
    max-width: 350px;
  }
}

@media (max-width: 300px) {
  #diagramView {
    position: absolute;
    margin-left: -100%;
    max-width: 275px;
  }
}
