<h2 style="font-weight: bold; font-size: 38px">UstUML Command Semantic</h2>
<br>
<br>
<div class="card-container">
  <mat-card class="example-card" (click)="navigate('/docs-view/(intro:common-commands)')"
            style="cursor: pointer; display: flex; flex-direction: column;
            justify-content: space-around; align-items: center; padding: 0;">
    <mat-card-header style="margin: 20px 0 20px 0">
      <mat-card-title style="color: #1fa2ff">Common commands</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        Get an overview of the language grammar.
      </p>
    </mat-card-content>
    <mat-card-footer style="margin: 0; border-top: .5px solid #dbdbdb; color: #1669bb;
      background-color: rgba(25,118,210,.1);display: flex;
    justify-content: right; align-items: center; width: 100%; padding: 10px">
      <p style="margin: 0">Common<p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="example-card" (click)="navigate('/docs-view/(intro:direct-engineering)')"
            style="cursor: pointer; display: flex; flex-direction: column;
            justify-content: space-around; align-items: center; padding: 0;">
    <mat-card-header style="margin: 20px 0 20px 0">
      <mat-card-title style="color: #1fa2ff">Direct engineering</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        Get an overview of the language grammar.
      </p>
    </mat-card-content>
    <mat-card-footer style="margin: 0; border-top: .5px solid #dbdbdb; color: #1669bb;
      background-color: rgba(25,118,210,.1);display: flex;
    justify-content: right; align-items: center; width: 100%; padding: 10px">
      <p style="margin: 0">Direct<p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="example-card" (click)="navigate('/docs-view/(intro:inverse-engineering)')"
            style="display: flex; flex-direction: column; cursor: pointer;
            justify-content: space-around; align-items: center; padding: 0;">
    <mat-card-header style="margin: 20px 0 20px 0">
      <mat-card-title style="color: #1fa2ff">Inverse engineering</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text">
        Learn the different commands of UstUML.
      </p>
    </mat-card-content>
    <mat-card-footer style="margin: 0; border-top: .5px solid #dbdbdb; color: #1669bb;
      background-color: rgba(25,118,210,.1);display: flex;
    justify-content: right; align-items: center; width: 100%; padding: 10px">
      <p style="margin: 0">Inverse<p>
    </mat-card-footer>
  </mat-card>
</div>

