/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  min-height: 80%;
}

#user-view {
  padding-top: 100px;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}
