/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
}

main {
  padding-top: 10px;
  padding-bottom: 201px; /* this needs to be bigger than footer height*/
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
