<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
     style="position: relative;height:80px; padding: 0">
  <div class="container">
    <a [routerLink]="['/']">
      <img alt="" src="assets/ustUML.png" height="60px">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/']" (click)="isCollapsed=true">
              <img alt="" src="assets/ustUML.png" height="60px">
              <span style="color: black;margin-left: 3px;">USTUML</span>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a [routerLink]="['/']" class="nav-link no-caret" data-toggle="dropdown" role="button"
             (click)="this.isCollapsed=true">
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button"
             (click)="navigate('/docs-view/(intro:introduction)')">
            <span class="nav-link-inner--text">USTUML Language</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="https://ust-uml-server-test.herokuapp.com/swagger-ui.html"
             data-toggle="tooltip" title="Star us on Github" (click)="isCollapsed=true">
            <span class="nav-link-inner--text">Api documentation</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated()">
          <a [routerLink]="['/user-view']" class="nav-link no-caret" data-toggle="dropdown" role="button"
             (click)="isCollapsed=true">
            <span class="nav-link-inner--text">Tool</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/USantaTecla-tool-ustUML"
             data-toggle="tooltip" title="Star us on Github" (click)="isCollapsed=true">
            <em class="fa fa-github"></em>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item dropdown" id="disappear" *ngIf="!isAuthenticated()">
          <a (click)="register()" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
        <li class="nav-item dropdown" id="disappear1" *ngIf="!isAuthenticated()">
          <a (click)="login()" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item dropdown" id="disappear2" *ngIf="isAuthenticated()">
          <a (click)="logout()" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text">Logout</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!isAuthenticated()">

          <button (click)="register()" class="btn btn-1 btn-outline-primary" type="button">Register</button>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="!isAuthenticated()">
          <button (click)="login()" class="btn btn-1 btn-primary" type="button">Login</button>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="isAuthenticated()">
          <button (click)="logout()" *ngIf="isAuthenticated()" class="btn btn-1 btn-outline-primary" type="button">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
