<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/ustUML.jpg" width="35" height="35" class="d-inline-block align-top" alt="ustUML Logo">
      <span class="d-inline-block align-text-bottom">UST-UML Tool</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarActions"
            aria-controls="navbarActions" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarActions">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <div class="navbar-nav">
        <button mat-raised-button color="primary" (click)="login()" *ngIf="!isAuthenticated()" style="margin-right: 10px">
          <mat-icon>person_outline</mat-icon>
          <span>Login</span>
        </button>
        <button (click)="register()" *ngIf="!isAuthenticated()" mat-button>
          <mat-icon>person_add_alt_1</mat-icon>
          <span>Register</span>
        </button>
        <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
          <mat-icon>person_outline</mat-icon>
          <span>Logout</span>
        </button>
      </div>

    </div>
  </div>

</nav>
