<div class="box d-lg-flex justify-content-between" style="margin-top: 15px; margin-bottom: 15px">
    <app-repository-view [directoryTree]="directoryTree" [activeMemberID]="activeMemberID" id="repository"
                         appResizable style="height: 88vh;"></app-repository-view>
  <div style="padding-left: 20px;width: min-content;">
    <app-package-view [USTUML]="USTUML"></app-package-view>
    <app-command-view (serverResponse)="sendUMLToChildren($event)"></app-command-view>
  </div>
  <div style="padding-right: 20px; padding-left: 20px">
    <app-diagram-view [plantUML]="plantUML" class="flex-fill"></app-diagram-view>
  </div>
</div>
