<div id="user-view" class="d-lg-flex justify-content-around" style="margin-bottom: 15px">
  <app-repository-view [directoryTree]="directoryTree" [selectedNodeId]="selectedNodeId" id="repository" ></app-repository-view>
  <div class="flex-fill">
    <app-package-view [USTUML]="USTUML"></app-package-view>
    <app-command-view (serverResponse)="sendUMLToChildren($event)" (selectedNodeId)="selectedNodeId=$event"></app-command-view>
  </div>
  <app-diagram-view [plantUML]="plantUML" class="flex-fill"></app-diagram-view>
</div>
