.box {
  display: flex;
  align-items: stretch;
}
#repository {
  width: 25%;
  float: left;
  position: relative;
  min-width: 350px;
  max-width: 500px;
  border: 1px solid;
  overflow: auto;
}
#middle{
  padding-left: 20px;
}
@media (max-width: 1030px) {
  #repository {
    min-width: 220px;
  }
}
@media (max-width: 991.98px) {
  #repository {
    width: 25%;
    float: left;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid;
    overflow: auto;
    margin: 0 20px 0 20px;
  }
}
@media (max-width: 830px) {
  #repository {
    width: 25%;
    float: left;
    position: relative;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid;
    overflow: auto;
    margin: 0 20px 0 20px;
    margin-left: 2px;
    display: block;
  }
  #responsiveMobile2{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 600px) {
  #repository {
    width: 25%;
    float: left;
    position: relative;
    min-width: 150px;
    max-width: 150px;
    border: 1px solid;
    overflow: auto;
    margin: 0 20px 0 20px;
    display: block;
  }
  #middle{
    margin-left: -17px;
    padding-left: 0;
  }
  #responsiveMobile{
    flex-direction: row-reverse;
  }
}
@media (max-width: 500px) {
  #repository {
    width: 25%;
    float: left;
    position: relative;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid;
    overflow: auto;
    margin: 0 20px 0 -40px;
    display: none;
  }
  #middle{
    margin-left: 26px;
  }
}

@media (max-width: 400px) {
  #middle{
    margin-left: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.packageView {
  grid-column: 2;
  grid-row: 1;
}
.repositoryView {
  grid-column: 1;
  grid-row: 1 / 3;
}
.diagramView {
  grid-column: 3;
  grid-row: 1 / 3;
}
.commandView {
  grid-column: 2;
  grid-row: 2;
}
