* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  padding:  40px 0px;
  width: 240px;
}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.wrapper {
  padding-top: 10px;
  width: 37em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(00px, 1fr) 240px 200px;
  background-color: #fff;
  color: #444;
}

#terminal {
  width: 70%;
  float: left;
  min-width: 37em;
  max-width: 37em;
  position: relative;
  height: 18em;
  background-color: #1e1e1e;
  color: white;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
@media (max-width: 1400px) {
  #terminal {
    width: 70%;
    float: left;
    min-width: 27em;
    max-width: 37em;
    position: relative;
    height: 18em;
    background-color: #1e1e1e;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
  }
  .wrapper{
    grid-template-columns: minmax(0px, 1fr) 200px 0px 230px;
  }
}
@media (max-width: 991.98px) {
  #terminal {
    margin-top: 60vh;
    width: 70%;
    float: left;
    min-width: 27em;
    max-width: 37em;
    position: relative;
    height: 18em;
    background-color: #1e1e1e;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
  }
}

@media (max-width: 800px) {
  #terminal {
    min-width: 33em;
  }
  .wrapper {
    grid-template-columns: minmax(00px, 1fr) 285px 00px 146px;
  }
}
@media (max-width: 600px) {
  #terminal {
    min-width: 22em;
  }
  .wrapper{
    grid-template-columns: minmax(0px, 1fr) 185px 0px 246px;
  }
}
@media (max-width: 500px) {
  #terminal {
    margin-top: 43vh;
    width: 70%;
    float: left;
    min-width: 25em;
    max-width: 37em;
    position: relative;
    height: 18em;
    background-color: #1e1e1e;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
  }
}
@media (max-width: 300px) {
  #terminal {
    margin-top: 43vh;
    width: 70%;
    float: left;
    min-width: 20em;
    max-width: 37em;
    position: relative;
    height: 18em;
    background-color: #1e1e1e;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
  }
}
#header {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 30px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(104,103,101);
  background: -moz-linear-gradient(top,  rgba(104,103,101,1) 0%, rgba(60,59,55,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,103,101,1)), color-stop(100%,rgba(60,59,55,1)));
  background: -webkit-linear-gradient(top,  rgba(104,103,101,1) 0%,rgba(60,59,55,1) 100%);
  background: -o-linear-gradient(top,  rgba(104,103,101,1) 0%,rgba(60,59,55,1) 100%);
  background: -ms-linear-gradient(top,  rgba(104,103,101,1) 0%,rgba(60,59,55,1) 100%);
  background: linear-gradient(to bottom,  rgba(104,103,101,1) 0%,rgba(60,59,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686765', endColorstr='#3c3b37',GradientType=0 );
}
#title {
  margin-top: 3px;
  line-height: 30px;
  color: #DFDBD2;
  padding-left: 15px;
  font-size: 0.8em;
  font-weight: 500;
}
span {
  color: white;
}
.terminal {
  margin-right: 5px;
  padding-top: 30px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 0.9em;
}
textarea {
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  overflow: hidden;
  resize: none;
  cursor: default;
}
.blink {
  width: 5px;
  height: 13px;
  background-color: white;
  display: inline-flex;
  margin-top: 4px;
  margin-left: 2px;
}
.textAreaClone {
  display: inline-table;
}
#sign {
  display: contents;
}
.monaco {
  height: 165px;
}

button {
  margin-top: 15px;
  float: right;
}
