<div id="terminal">
  <div id="header">
    <p id="title">USTUML's Terminal</p>
  </div>
  <div class="terminal" #terminal (click)="textAreaFocus()">
    <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    <!--<div [style]="output.style" [innerHTML]="output.content"></div>
    <div id="sign">$ </div>
    <div class="textAreaClone" #textAreaClone></div>
    <textarea #textArea size="2" (keydown)="keyEvent($event)" spellcheck="false"
              [(ngModel)]="input.content" (ngModelChange)="onModelChange()"></textarea>-->
  </div>
</div>
