<div>
  <div id="terminal">
    <div id="header">
      <p id="title">USTUML's Terminal</p>
    </div>
    <div class="terminal" #terminal>
      <div [style]="output.style" [innerHTML]="output.content"></div>
      <ngx-monaco-editor class="monaco" (keydown)="keyEvent($event)" [options]="editorOptions"
                         (onInit)="onEditorInit($event)" [(ngModel)]="input.content"></ngx-monaco-editor>
    </div>
  </div>
  <div style="text-align: right;">
    <a id="btnExecute" type="button" title="ctrl+Enter" (click)="executeCommand()" class="btn effect01" target="_blank"
       style="margin-top: 1.5vh; height: 30px; width: 100px;">
      <div style="margin-top: -10px;">
      <span style="vertical-align:middle; ">Execute</span>
      </div>
    </a>
  </div>
</div>
